extends base

block content
    p Hi #{firstName},
        p Forget your password ? 
        p submit with your new password and confirmation to : #{code}.
        p (This code is valid for 10 min only !!!)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        
        p If you don't forget your password , ignore this
